<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue To Do List</title>

</head>
<body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <div id="app">

    <h1>
      Cose da fare:
    </h1>

    <ul>
      <li v-for="(toDo , index) in toDos" :style="(toDo.done) ? { textDecoration : 'line-through'} : {}">
        {{toDo.text}} - <span @click="rimuoviToDo(index)">X</span>
      </li>
    </ul>

    <input type="text" v-model="nuovaCosa" @keyup.enter="aggiungiLaCosa()">
    <button @click="aggiungiLaCosa()">Aggiungi</button>

  </div>

  <script src="js/script.js"></script>
</body>
</html>